[Unit]
Description=Securonis - Font Fingerprinting Randomizer
After=network.target
DefaultDependencies=no

[Service]
Type=simple
ExecStart=/usr/bin/securonis-font-randomizer
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
