[Unit]
Description=Securonis - Audio Fingerprinting Protection
After=sound.target
DefaultDependencies=no

[Service]
Type=simple
ExecStart=/usr/bin/securonis-audio-protection
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
