[Unit]
Description=Securonis - Canvas Fingerprinting Noise Generator
After=network.target
DefaultDependencies=no

[Service]
Type=simple
ExecStart=/usr/bin/securonis-canvas-noise
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
