[Unit]
Description=Securonis - User Agent Randomizer
After=network.target
DefaultDependencies=no

[Service]
Type=simple
ExecStart=/usr/bin/securonis-useragent-randomizer
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
