[Unit]
Description=Securonis - Restrict dmesg Access
After=local-fs.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/bin/securonis-dmesg-restrict
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
