[Unit]
Description=Securonis - Clean Bash History on Shutdown
DefaultDependencies=no
Before=shutdown.target reboot.target halt.target
Conflicts=reboot.target

[Service]
Type=oneshot
ExecStart=/usr/bin/securonis-cleanup-bash-history
TimeoutStartSec=20
RemainAfterExit=no

[Install]
WantedBy=shutdown.target
